extends ./layout/layout

block contenido 
  main.container.mt-5
    .col-md-12
    h1.text-center #{page}
    blockquote.text-center Lee sobre nuestros Clientes y sus experiencias 
    .row.testimoniales
      each testimonio in testimonios
        div.col-md-6.col-lg-4.mb-4
          .card
            .card-body 
                blockquote.blockquote
                p.mb-0
                  | #{testimonio.mensaje}
                footer.blockquote-footer
                  | #{testimonio.nombre}
    .row

        .col-md-12
            h2.d-block.w-100.text-center Agrega un Testimonial

            if(errores) 
                each error in errores
                    .alert.alert-danger.text-center=error.mensaje
        .row.justify-content-center.col
          .col-md-8
            form(action="/testimonios" method="post")
              .form-group
                label(for='nombre') Nombre
                input#nombre.form-control(type='text', placeholder='Tu Nombre', name="nombre", value=nombre)
              .form-group
                label(for='correo') Correo Electrónico
                input#correo.form-control(type='email', placeholder='Tu Correo Electrónico', name="correo", value=correo)
              .form-group
                label(for='mensaje') Mensaje
                textarea#mensaje.form-control(name="mensaje", rows=3, placeholder="Tu Mensaje")= mensaje
              input.btn.btn-success.btn-block(type="submit")